<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.icarexm.jiedi">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- 地图权限 -->
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 高德地位权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--权限配置-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.EvaluateActivity"></activity>
        <activity android:name=".view.activity.AddWithdrawActivity" />
        <activity android:name=".view.activity.WithDrawTypeActivity" />
        <activity android:name=".view.activity.WithDrawActivity" />
        <activity android:name=".view.activity.AboutActivity" />
        <activity android:name=".view.activity.MessageCenterActivity" />
        <activity android:name=".view.activity.TermServicesActivity" />
        <activity android:name=".view.activity.SetActivity" />
        <activity android:name=".view.activity.OrderListActivity" />
        <activity android:name=".view.activity.CashOutActivity" />
        <activity android:name=".view.activity.PriceActivity" />
        <activity android:name=".view.activity.AccountingRulesActivity" />
        <activity android:name=".view.activity.PersonalActivity" />
        <activity android:name=".view.activity.CostDetailActivity" />
        <activity android:name=".view.activity.CancelOrderActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1864fa6c06d491b9ab88b84856c802a4" />

        <activity android:name=".view.activity.OrderPerDayActivity" />
        <activity android:name=".view.activity.HomeActivity" />
        <activity android:name=".view.activity.LogonActivity" />
        <activity android:name=".view.activity.ForgetPasswordActivity" />
        <activity android:name=".view.activity.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MainActivity" />

        <service android:name=".service.StocketServices" />
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.winfo.photoselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.winfo.photoselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.winfo.photoselector.RvPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />
    </application>

</manifest>